@import "../../styles";

.container {
  position: relative;
  background: center / contain repeat url("../../images/background.png");
  overflow: hidden;
  z-index: 0;

  &:before {
    content: "";
    filter: blur(3px) brightness(0.4);
    position: absolute;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    background: inherit;
    z-index: -1;
  }

  .wrap {
    @include container;
  }
}
