@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

//Fonts
$font-family: 'Montserrat', sans-serif;
$font-medium: 500;
$font-bold: 800;
$font-size: ("xs": 14px, "ms": 18px, "m": 20px, "xl": 26px, "ml": 52px);
$line-height: ("xs": 18px, "ms": 22px, "m": 24px, "xl": 32px, "ml": 63px);

//Colors
$red: #f65261;
$dark-grey: #424242;
$dark: #000000;
$black: #232323;
$light-grey: #555555;
$white: #ffffff;
$green: #A1E66F;

//Spaces

