@import '../../styles';

.container {
  display: flex;
  @include font('m');

  input {
    flex-grow: 1;
    margin-right: 20px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background: $black;
    opacity: 0.8;
    @include font('ms');
    color: $white;
  }

  button {
    width: 200px;
  }
}
