@import '../../styles';

.container {
  background: $light-grey;
  flex-grow: 1;
  display: flex;

  .wrap {
    @include container;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    color: $red;

    h2 {
      @include font('ml');
    }
  }
}
